<div class="card pt-3">

    <div class="card-header">
        <div class="row">
            <div class="col-12">
                <h4 class="d-inline">
                    <!-- #{{item.id}} -->
                    {{pokemon.name}}
                </h4>
                <i class="fa fa-star fa-2x float-right text-yellow"> </i>
            </div>
            <div class="col-12">
                <span class="text-muted small" *ngIf="pokemon.alias">
                    <i class="fa fa-at"></i> Alias : {{pokemon.alias}}
                </span>
                <span class="text-muted small" *ngIf="!pokemon.alias">
                    <i class="fa fa-at"></i> No alias
                </span>
                <br>
                <span class="small">
                    <i class="fa fa-calendar text-muted "></i> Created at: {{pokemon.createdAt | date : "short"}}
                </span>
            </div>
        </div>


    </div>

    <ng-container *ngIf="!showDefaultImage; then image; else noImage"></ng-container>
    <ng-template #image>
        <img class="card-img-top mt-2" style="height: 120px;" [src]="pokemon.imageUrl" (error)="onImageError()">
    </ng-template>
    <ng-template #noImage>
        <img class="card-img-top mt-2" style="height: 120px;" [src]="defaultImageURL">
    </ng-template>

    <div class="card-body text-center">

        <button (click)="removeFromFavorites()" class="btn btn-outline-danger">
            Remove
        </button>
        <button class="btn btn-primary" [routerLink]="[pokemon.name]">
            Edit
        </button>
    </div>
</div>